@*
    // ***	 ** ****** ****** ****** ******* **     ** ****** ***   ** **** ****
    // ****  ** **  ** **  ** **  **  **  **  **   **  **  ** ****  ** *    *
    // ** ** ** **  ** ****** ******  **  **   ** **   ****** ** ** ** *    ***
    // **  **** **  ** **	  **  **  **  **    ***    **  ** **  **** *    *
    // **   *** ****** **	  **  ** *******     *     **  ** **   *** **** ****
    //
    // **************************************************************************
    // *                                                                		*
	// *           Admin Layout Changer Plugin by NopAdvance team               *
    // *			Copyright (c) NopAdvance LLP. All Rights Reserved			*
    // *                                                                       	*
    // **************************************************************************
    // *                                                                       	*
    // * Email:		contact@nopadvance.com										*
    // * Website:	https://nopadvance.com										*
    // *                                                                       	*
    // **************************************************************************
    // *                                                                       	*
    // * Please see the  License file for the full End User License Agreement. 	*
    // * The  complete license agreement is also available on  our  website at 	*
    // * https://nopadvance.com/license-terms									*
    // *                                                                       	*
    // * This  software / plugin  is furnished  under a license  and  may   be  *
    // * used  and modified  only in accordance with the terms of such license  *
    // * and with the inclusion of the above copyright notice.  This  software	*
    // * or any other copies thereof may not be  provided  or  otherwise  made	*
    // * available  to any other person.  No title to  and  ownership  of  the  *
    // * software is hereby transferred.                                        *
    // *                                                                       	*
    // * You may not reverse  engineer, decompile, defeat  license  encryption 	*
    // * mechanisms  or  disassemble this software product or software product 	*
    // * license.  NopAdvance may terminate this  license if you don't  comply 	*
    // * with any of the terms & conditions set forth in our  end user license	*
    // * agreement (EULA).  In such event , licensee agrees to return licensor	*
    // * or destroy  all copies of software  upon termination  of the license.	*
    // *                                                                       	*
    // **************************************************************************
*@
@model CountryModel

<div class="card-body">
    @(await Html.LocalizedEditorAsync<CountryModel, CountryLocalizedModel>("country-info-localized",
    @<div>
        <div class="form-group row">
            <div class="col-md-3 col-lg-2">
                <nop-label asp-for="@Model.Locales[item].Name"/>
            </div>
            <div class="col-md-9 col-lg-10">
                <nop-editor asp-for="@Model.Locales[item].Name"/>
                <span asp-validation-for="@Model.Locales[item].Name"></span>
            </div>
        </div>
        <div>
            <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
        </div>
    </div>
,
    @<div>
        <div class="form-group row">
            <div class="col-md-3 col-lg-2">
                <nop-label asp-for="Name"/>
            </div>
            <div class="col-md-9 col-lg-10">
                <nop-editor asp-for="Name" asp-required="true"/>
                <span asp-validation-for="Name"></span>
            </div>
        </div>
    </div>
))
    <div class="form-group row">
        <div class="col-md-3 col-lg-2">
            <nop-label asp-for="AllowsBilling"/>
        </div>
        <div class="col-md-9 col-lg-10">
            <nop-editor asp-for="AllowsBilling"/>
            <span asp-validation-for="AllowsBilling"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3 col-lg-2">
            <nop-label asp-for="AllowsShipping"/>
        </div>
        <div class="col-md-9 col-lg-10">
            <nop-editor asp-for="AllowsShipping"/>
            <span asp-validation-for="AllowsShipping"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3 col-lg-2">
            <nop-label asp-for="TwoLetterIsoCode"/>
        </div>
        <div class="col-md-9 col-lg-10">
            <nop-editor asp-for="TwoLetterIsoCode" asp-required="true"/>
            <span asp-validation-for="TwoLetterIsoCode"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3 col-lg-2">
            <nop-label asp-for="ThreeLetterIsoCode"/>
        </div>
        <div class="col-md-9 col-lg-10">
            <nop-editor asp-for="ThreeLetterIsoCode" asp-required="true"/>
            <span asp-validation-for="ThreeLetterIsoCode"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3 col-lg-2">
            <nop-label asp-for="NumericIsoCode"/>
        </div>
        <div class="col-md-9 col-lg-10">
            <nop-editor asp-for="NumericIsoCode"/>
            <span asp-validation-for="NumericIsoCode"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3 col-lg-2">
            <nop-label asp-for="SubjectToVat"/>
        </div>
        <div class="col-md-9 col-lg-10">
            <nop-editor asp-for="SubjectToVat"/>
            <span asp-validation-for="SubjectToVat"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3 col-lg-2">
            <nop-label asp-for="SelectedStoreIds"/>
        </div>
        <div class="col-md-9 col-lg-10">
            <div class="row">
                <div class="col-md-4">
                    <nop-select asp-for="SelectedStoreIds" asp-items="Model.AvailableStores" asp-multiple="true"/>
                    <script>
                        $(document).ready(function() {
                            var storesIdsInput = $('#@Html.IdFor(model => model.SelectedStoreIds)')
                                .data("kendoMultiSelect");
                            storesIdsInput.setOptions({
                                autoClose: false,
                                filter: "contains"
                            });

                            @if (Model.AvailableStores.Count == 0)
                            {
                                <text>
                                    storesIdsInput.setOptions({
                                        enable: false,
                                        placeholder: 'No stores available'
                                    });
                                    storesIdsInput._placeholder();
                                    storesIdsInput._enable();
                                </text>
                            }
                        });
                    </script>
                </div>
                <div class="col-md-8">
                    @await Component.InvokeAsync("MultistoreDisabledWarning")
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3 col-lg-2">
            <nop-label asp-for="Published"/>
        </div>
        <div class="col-md-9 col-lg-10">
            <nop-editor asp-for="Published"/>
            <span asp-validation-for="Published"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3 col-lg-2">
            <nop-label asp-for="DisplayOrder"/>
        </div>
        <div class="col-md-9 col-lg-10">
            <nop-editor asp-for="DisplayOrder"/>
            <span asp-validation-for="DisplayOrder"></span>
        </div>
    </div>
</div>
