@*
    // ***	 ** ****** ****** ****** ******* **     ** ****** ***   ** **** ****
    // ****  ** **  ** **  ** **  **  **  **  **   **  **  ** ****  ** *    *
    // ** ** ** **  ** ****** ******  **  **   ** **   ****** ** ** ** *    ***
    // **  **** **  ** **	  **  **  **  **    ***    **  ** **  **** *    *
    // **   *** ****** **	  **  ** *******     *     **  ** **   *** **** ****
    //
    // **************************************************************************
    // *                                                                		*
	// *               Smart Slider Plugin by NopAdvance team                   *
    // *			Copyright (c) NopAdvance LLP. All Rights Reserved			*
    // *                                                                       	*
    // **************************************************************************
    // *                                                                       	*
    // * Email:		contact@nopadvance.com										*
    // * Website:	https://nopadvance.com										*
    // *                                                                       	*
    // **************************************************************************
    // *                                                                       	*
    // * Please see the  License file for the full End User License Agreement. 	*
    // * The  complete license agreement is also available on  our  website at 	*
    // * https://nopadvance.com/license-terms									*
    // *                                                                       	*
    // * This  software / plugin  is furnished  under a license  and  may   be  *
    // * used  and modified  only in accordance with the terms of such license  *
    // * and with the inclusion of the above copyright notice.  This  software	*
    // * or any other copies thereof may not be  provided  or  otherwise  made	*
    // * available  to any other person.  No title to  and  ownership  of  the  *
    // * software is hereby transferred.                                        *
    // *                                                                       	*
    // * You may not reverse  engineer, decompile, defeat  license  encryption 	*
    // * mechanisms  or  disassemble this software product or software product 	*
    // * license.  NopAdvance may terminate this  license if you don't  comply 	*
    // * with any of the terms & conditions set forth in our  end user license	*
    // * agreement (EULA).  In such event , licensee agrees to return licensor	*
    // * or destroy  all copies of software  upon termination  of the license.	*
    // *                                                                       	*
    // **************************************************************************
*@
@model SmartSliderModel

@{
    var themeCssPath = await EngineContext.Current.Resolve<IThemeHelper>().GetThemeCssPathAsync(PluginDefaults.SYSTEM_NAME);
    var themeJsPath = await EngineContext.Current.Resolve<IThemeHelper>().GetThemeJsPathAsync(PluginDefaults.SYSTEM_NAME);

    Layout = "";

    NopHtml.AddScriptParts(ResourceLocation.Footer, $"{themeJsPath}jquery.nivo.slider.js");
    NopHtml.AddCssFileParts($"{themeCssPath}nivo-slider.css");
    NopHtml.AddCssFileParts($"~/Plugins/{PluginDefaults.SYSTEM_NAME}/Themes/DefaultClean/Content/themes/custom/custom.css");

    var sliderCount = Model.SliderPictures.Count;
    var nivoClassName = sliderCount > 1 ? "nivoSlider" : "single-picture";
}

<div class="slider-wrapper theme-custom">
    <div class="@nivoClassName" id="@Model.SliderName">
        @foreach (var slider in Model.SliderPictures)
        {
            if (Model.SliderPictures.Count() > 0)
            {
                if (sliderCount == 1)
                {
                    if (!string.IsNullOrEmpty(slider.RedirectUrl))
                    {
                        if (userAgentHelper.IsMobileDevice())
                        {

                            <a href="@slider.RedirectUrl" aria-label="@slider.AlternateText" target="@(slider.OpenInNewTab ? "_blank" : "_self")">
                                <img src="@slider.MobilePictureModel.FullSizeImageUrl" data-thumb="@slider.MobilePictureModel.ImageUrl" alt="@slider.AlternateText" />
                                @if(!string.IsNullOrEmpty(@slider.Comment))
                                {
                                    <div class="single-picture-caption">@slider.Comment</div>
                                }
                            </a>
                        }
                        else
                        {

                            <a href="@slider.RedirectUrl" aria-label="@slider.AlternateText" target="@(slider.OpenInNewTab ? "_blank" : "_self")">
                                <img src="@slider.DesktopPictureModel.FullSizeImageUrl" data-thumb="@slider.DesktopPictureModel.ImageUrl" alt="@slider.AlternateText" />
                                @if(!string.IsNullOrEmpty(@slider.Comment))
                                {
                                    <div class="single-picture-caption">@slider.Comment</div>
                                }
                            </a>
                        }
                    }
                    else
                    {
                        if (userAgentHelper.IsMobileDevice())
                        {

                            <img src="@slider.MobilePictureModel.FullSizeImageUrl" data-thumb="@slider.MobilePictureModel.ImageUrl" alt="@slider.AlternateText" />
                            @if(!string.IsNullOrEmpty(@slider.Comment))
                                {
                                    <div class="single-picture-caption">@slider.Comment</div>
                                }
                        }
                        else
                        {

                            <img src="@slider.DesktopPictureModel.FullSizeImageUrl" data-thumb="@slider.DesktopPictureModel.ImageUrl" alt="@slider.AlternateText" />
                             @if(!string.IsNullOrEmpty(@slider.Comment))
                                {
                                    <div class="single-picture-caption">@slider.Comment</div>
                                }
                        }
                    }
                }
                else
                {
                    if (!string.IsNullOrEmpty(slider.RedirectUrl))
                    {
                        if (userAgentHelper.IsMobileDevice())
                        {

                            <a href="@slider.RedirectUrl" aria-label="@slider.AlternateText" target="@(slider.OpenInNewTab ? "_blank" : "_self")">
                                <img src="@slider.MobilePictureModel.FullSizeImageUrl" data-thumb="@slider.MobilePictureModel.ImageUrl" alt="@slider.AlternateText" title="@slider.Comment" />
                                
                            </a>
                        }
                        else
                        {
                            <a href="@slider.RedirectUrl" aria-label="@slider.AlternateText" target="@(slider.OpenInNewTab ? "_blank" : "_self")">
                                <img src="@slider.DesktopPictureModel.FullSizeImageUrl" data-thumb="@slider.DesktopPictureModel.ImageUrl" alt="@slider.AlternateText" title="@slider.Comment" />
                                
                            </a>
                        }
                    }
                    else
                    {
                        if (userAgentHelper.IsMobileDevice())
                        {

                            <img src="@slider.MobilePictureModel.FullSizeImageUrl" data-thumb="@slider.MobilePictureModel.ImageUrl" alt="@slider.AlternateText" title="@slider.Comment" />
                             
                        }
                        else
                        {

                            <img src="@slider.DesktopPictureModel.FullSizeImageUrl" data-thumb="@slider.DesktopPictureModel.ImageUrl" alt="@slider.AlternateText" title="@slider.Comment" />
                            
                        }
                    }
                }
            }
        }
    </div>
</div>
<script type="text/javascript" asp-location="Footer">
    @if (sliderCount > 1)
    {
        <Text>
            var navigationType = "@Model.NavigationType";

            var direction = navigationType == "@SliderNavigationType.Arrow"
                            || navigationType == "@SliderNavigationType.Both";
            var control = navigationType == "@SliderNavigationType.Bullet"
                            || navigationType == "@SliderNavigationType.Both";

            $(window).on('load', function () {
                $("#@Model.SliderName").nivoSlider({
                    effect: 'random',
                    directionNav: direction,
                    controlNav: control,
                    animSpeed: 200,
                    prevText:'Prev',
                    nextText:'Next'
                });
            });
        </Text>
    }
</script>
