@*
    // ***	 ** ****** ****** ****** ******* **     ** ****** ***   ** **** ****
    // ****  ** **  ** **  ** **  **  **  **  **   **  **  ** ****  ** *    *
    // ** ** ** **  ** ****** ******  **  **   ** **   ****** ** ** ** *    ***
    // **  **** **  ** **	  **  **  **  **    ***    **  ** **  **** *    *
    // **   *** ****** **	  **  ** *******     *     **  ** **   *** **** ****
    //
    // **************************************************************************
    // *                                                                		*
	// *           Admin Layout Changer Plugin by NopAdvance team               *
    // *			Copyright (c) NopAdvance LLP. All Rights Reserved			*
    // *                                                                       	*
    // **************************************************************************
    // *                                                                       	*
    // * Email:		contact@nopadvance.com										*
    // * Website:	https://nopadvance.com										*
    // *                                                                       	*
    // **************************************************************************
    // *                                                                       	*
    // * Please see the  License file for the full End User License Agreement. 	*
    // * The  complete license agreement is also available on  our  website at 	*
    // * https://nopadvance.com/license-terms									*
    // *                                                                       	*
    // * This  software / plugin  is furnished  under a license  and  may   be  *
    // * used  and modified  only in accordance with the terms of such license  *
    // * and with the inclusion of the above copyright notice.  This  software	*
    // * or any other copies thereof may not be  provided  or  otherwise  made	*
    // * available  to any other person.  No title to  and  ownership  of  the  *
    // * software is hereby transferred.                                        *
    // *                                                                       	*
    // * You may not reverse  engineer, decompile, defeat  license  encryption 	*
    // * mechanisms  or  disassemble this software product or software product 	*
    // * license.  NopAdvance may terminate this  license if you don't  comply 	*
    // * with any of the terms & conditions set forth in our  end user license	*
    // * agreement (EULA).  In such event , licensee agrees to return licensor	*
    // * or destroy  all copies of software  upon termination  of the license.	*
    // *                                                                       	*
    // **************************************************************************
*@
@model PredefinedProductAttributeValueModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />
<input asp-for="ProductAttributeId" type="hidden" />

@if (ViewBag.RefreshPage == true)
{
    <script>
        try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
        catch (e){}
        window.close();
    </script>
}

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="form-horizontal">
                <div class="cards-group">
                    @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ProductAttributePredefinedValuesDetailsTop, additionalData = Model })
                    <div class="card card-default card-popup">
                        <div class="card-body">
                            @(await Html.LocalizedEditorAsync<PredefinedProductAttributeValueModel, PredefinedProductAttributeValueLocalizedModel>("productattributevalue-localized",
                                    @<div>
                                        <div class="form-group row">
                                            <div class="col-md-3 col-lg-2">
                                                <nop-label asp-for="@Model.Locales[item].Name" />
                                            </div>
                                            <div class="col-md-9 col-lg-10">
                                                <nop-editor asp-for="@Model.Locales[item].Name" />
                                                <span asp-validation-for="@Model.Locales[item].Name"></span>
                                            </div>
                                        </div>
                                        <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                                    </div>
          ,
                                                    @<div>
                                                        <div class="form-group row">
                                                            <div class="col-md-3 col-lg-2">
                                                                <nop-label asp-for="Name" />
                                                            </div>
                                                            <div class="col-md-9 col-lg-10">
                                                                <nop-editor asp-for="Name" asp-required="true" />
                                                                <span asp-validation-for="Name"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                          ))
                            <div class="form-group row">
                                <div class="col-md-3 col-lg-2">
                                    <nop-label asp-for="PriceAdjustment" />
                                </div>
                                <div class="col-md-9 col-lg-10">
                                    <nop-editor asp-for="PriceAdjustment" />
                                    <span asp-validation-for="PriceAdjustment"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3 col-lg-2">
                                    <nop-label asp-for="PriceAdjustmentUsePercentage" />
                                </div>
                                <div class="col-md-9 col-lg-10">
                                    <nop-editor asp-for="PriceAdjustmentUsePercentage" />
                                    <span asp-validation-for="PriceAdjustmentUsePercentage"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3 col-lg-2">
                                    <nop-label asp-for="WeightAdjustment" />
                                </div>
                                <div class="col-md-9 col-lg-10">
                                    <nop-editor asp-for="WeightAdjustment" />
                                    <span asp-validation-for="WeightAdjustment"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3 col-lg-2">
                                    <nop-label asp-for="Cost" />
                                </div>
                                <div class="col-md-9 col-lg-10">
                                    <nop-editor asp-for="Cost" />
                                    <span asp-validation-for="Cost"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3 col-lg-2">
                                    <nop-label asp-for="IsPreSelected" />
                                </div>
                                <div class="col-md-9 col-lg-10">
                                    <nop-editor asp-for="IsPreSelected" />
                                    <span asp-validation-for="IsPreSelected"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3 col-lg-2">
                                    <nop-label asp-for="DisplayOrder" />
                                </div>
                                <div class="col-md-9 col-lg-10">
                                    <nop-editor asp-for="DisplayOrder" />
                                    <span asp-validation-for="DisplayOrder"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ProductAttributePredefinedValuesDetailsBottom, additionalData = Model })
                </div>
            </div>
        </div>
    </div>
</section>
