@model MiniShoppingCartModel
<ul>
    <li id="flyout-cart">
        @if (Model.TotalProducts > 0)
        {

            @for (var i = 0; i < Model.Items.Count; i++)
            {
                var item = Model.Items[i];
                <div class="shopping-cart-img">
                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" title="@item.Picture.Title">
                        <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                    </a>
                </div>
                <div class="shopping-cart-title">
                    <h6>
                        <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a>
                    </h6>
                    <h6>
                        @item.UnitPrice
                    </h6>
                </div>
                <div class="shopping-cart-delete">
                    <a href="#">
                        <i class="fas fa-times"></i>
                    </a>
                </div>


            }
        }
        else
        {
            <div class="empty-shopping-cart">You have no items in your shopping cart.</div>
        }
    </li>
</ul>

<div class="shopping-cart-footer">
    <div class="shopping-cart-total">
        <h6>
            <span> @T("ShoppingCart.Totals.SubTotal") </span>
            <span>@Model.SubTotal</span>
        </h6>
    </div>
    <div class="shopping-cart-button">
       
       
        @if (Model.DisplayShoppingCartButton)
        {
            <a href="@(Url.RouteUrl("ShoppingCart"))" class="btn-outline outline font-normal">@T("ShoppingCart.Mini.ViewCart")</a>
        }
        @if (!Model.DisplayCheckoutButton)
        {
            var checkoutUrl = "";
            if (Model.AnonymousCheckoutAllowed && Model.CurrentCustomerIsGuest)
            {
                checkoutUrl = Url.RouteUrl("LoginCheckoutAsGuest", new { returnUrl = Url.RouteUrl("ShoppingCart") });
            }
            else
            {
                checkoutUrl = Url.RouteUrl("Checkout");
            }
            <a href="@checkoutUrl" class="btn-outline active font-normal" aria-current="page">@T("Checkout.Button")</a>
        }
    </div>
</div>
