@*
    // ***	 ** ****** ****** ****** ******* **     ** ****** ***   ** **** ****
    // ****  ** **  ** **  ** **  **  **  **  **   **  **  ** ****  ** *    *
    // ** ** ** **  ** ****** ******  **  **   ** **   ****** ** ** ** *    ***
    // **  **** **  ** **	  **  **  **  **    ***    **  ** **  **** *    *
    // **   *** ****** **	  **  ** *******     *     **  ** **   *** **** ****
    //
    // **************************************************************************
    // *                                                                		*
	// *           Admin Layout Changer Plugin by NopAdvance team               *
    // *			Copyright (c) NopAdvance LLP. All Rights Reserved			*
    // *                                                                       	*
    // **************************************************************************
    // *                                                                       	*
    // * Email:		contact@nopadvance.com										*
    // * Website:	https://nopadvance.com										*
    // *                                                                       	*
    // **************************************************************************
    // *                                                                       	*
    // * Please see the  License file for the full End User License Agreement. 	*
    // * The  complete license agreement is also available on  our  website at 	*
    // * https://nopadvance.com/license-terms									*
    // *                                                                       	*
    // * This  software / plugin  is furnished  under a license  and  may   be  *
    // * used  and modified  only in accordance with the terms of such license  *
    // * and with the inclusion of the above copyright notice.  This  software	*
    // * or any other copies thereof may not be  provided  or  otherwise  made	*
    // * available  to any other person.  No title to  and  ownership  of  the  *
    // * software is hereby transferred.                                        *
    // *                                                                       	*
    // * You may not reverse  engineer, decompile, defeat  license  encryption 	*
    // * mechanisms  or  disassemble this software product or software product 	*
    // * license.  NopAdvance may terminate this  license if you don't  comply 	*
    // * with any of the terms & conditions set forth in our  end user license	*
    // * agreement (EULA).  In such event , licensee agrees to return licensor	*
    // * or destroy  all copies of software  upon termination  of the license.	*
    // *                                                                       	*
    // **************************************************************************
*@
@model OrderSettingsModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Configuration.Settings.Order").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Order settings");
}

@{
    string verticalTab = (TabLayout)adminLayoutChangerSettings.TabLayoutId == TabLayout.Vertical ? "vertically-tab" : "";
}

<form asp-controller="Setting" asp-action="Order" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Configuration.Settings.Order")
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.OrderSettingsButtons, additionalData = Model })
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                @await Component.InvokeAsync("StoreScopeConfiguration")
                @await Component.InvokeAsync("SettingMode")
                <div asp-validation-summary="All"></div>

                <nop-tabs id="ordersettings-cards" class="@verticalTab">
                    <nop-tab asp-name="ordersettings-checkout" asp-icon="far fa-credit-card" asp-title="@T("Admin.Configuration.Settings.Order.BlockTitle.Checkout")" asp-default="true" asp-advanced="false">@await Html.PartialAsync("_Order.Checkout", Model)</nop-tab>
                    <nop-tab asp-name="ordersettings-order-totals" asp-icon="far fa-money-bill-alt" asp-title="@T("Admin.Configuration.Settings.Order.BlockTitle.OrderTotals")" asp-advanced="true">@await Html.PartialAsync("_Order.OrderTotals", Model)</nop-tab>
                    <nop-tab asp-name="ordersettings-common" asp-icon="fas fa-info" asp-title="@T("Admin.Configuration.Settings.Order.BlockTitle.Common")" asp-advanced="true">@await Html.PartialAsync("_Order.Common", Model)</nop-tab>
                    <nop-tab asp-name="ordersettings-pdf-invoice" asp-icon="far fa-file-pdf" asp-title="@T("Admin.Configuration.Settings.Order.BlockTitle.PdfInvoice")" asp-advanced="true">@await Html.PartialAsync("_Order.PdfInvoice", Model)</nop-tab>
                    <nop-tab asp-name="ordersettings-gift-cards" asp-icon="fas fa-gift" asp-title="@T("Admin.Configuration.Settings.Order.BlockTitle.GiftCards")" asp-advanced="true">@await Html.PartialAsync("_Order.GiftCards", Model)</nop-tab>
                    <nop-tab asp-name="ordersettings-return-request" asp-icon="fas fa-backward" asp-title="@T("Admin.Configuration.Settings.Order.ReturnRequestSettings")" asp-advanced="false">@await Html.PartialAsync("_Order.ReturnRequestSettings", Model)</nop-tab>

                    @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.OrderSettingsDetailsBlock, additionalData = Model })
                </nop-tabs>
            </div>
        </div>
    </section>
</form>
